body{
    margin: 0;
    padding: 0px 100px;
}
#nav-b{
    float: right;
}
.topnav{
    color: grey;
    position: relative;
}

.topnav a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: grey;
    }
    #sec2{
        margin-top:10px;
        padding: 5px 0px;
        border: solid black 1px;
    }
#search{
    border: 1px solid black;
    padding: 10px;
    color: grey;
}
 .none{
    text-decoration: none;
}
.amt{
float: right;
border: 1px solid black;
width: 60px;
padding: 10px;
}
/* input[type="text"]{
    text-align: end; */

#navbar {
display: flex;
   justify-content: space-evenly;
   margin: 12px;
   font-weight: bold;
}
#navbar li{
    list-style: none;
}
.banner{
    border: 1px solid black;
    min-height: 500px;
    color:white;
    position: relative;
    
    background-color: rgb(200, 200, 200);
}
#ban{
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    position: relative;
     
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#bann{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 26px;
    width: 100%;
}
.ha{
    background-color: grey;
    border: 1px solid grey;
    width: 101px;
    height: 92px;
    position: absolute;
    bottom: 20px;
}
#right{
    float: right;
}
#left{
    float: left;
    position: absolute;
    left: 0;
    bottom: -116px;

}
#cir{
    font-size: 30px;
    padding: 34px;
    color: white;
}
.subsup{
    font-size: 40px;
}
#div1{
    
    margin-top:10px;
    display: flex;
    position: relative;;
}
.content{
    border: 1px solid black;
    padding:70px;
    width: 100%;
    font-weight: bold;
    text-align: end;
}
.ok{
position: absolute;
height: 50px;
width: 50px;
left: 12;
}
.box{
    border: 1px solid rgb(184, 179, 179);;
    background-color: rgb(184, 179, 179);
    height: 500px;
    width: 670px;
    margin-top: 50px;
    position: relative;
}
#box1{
    display: flex;
    justify-content: space-between;
    
    text-align: center;

}
#mb{
    position: absolute;
    bottom: -40px;
    left:249px;
    font-size: 50px;
    line-height: 1.5em;
    
}
.blook{
    bottom: -80px;
    position: absolute;
    left: 265px;
}
#nb{
    position: absolute;
    bottom: -40px;
    right:249px;
    font-size: 50px;
    line-height: 1.5em;
}
.alook{
    bottom: -80px;
    position: absolute;
    right: 245px;
}
.icon{
    bottom: -80px;
    position: absolute;
}
.line{
    line-height: 40px;
}
.carousel{
        text-align: center;
        margin-top: 200px;
}
.img4{
    border: 1px solid black;
    min-height:200px;
    width: 200px;
    background-color: rgb(184, 179, 179);
    align-items: center;
    justify-content: center;
    display: flex;
}
#img{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 40px;
}
.icoon{
    font-size: 30px;
   color: white;
   position: relative;
   text-align: center;
   padding:0px 30px;
}
.icoon1{
    font-size: 12px;
    color: black;
}
.p{
    position: absolute; 
    bottom: 0; 
    font-size: 9px;
    color: white;
    background-color: blue;
    padding: 4px;
}
 #items{
     display: flex;
     justify-content: space-around;
 }
 #items li{
     list-style:none;
     text-align: center;
     padding: 10px ;
}
#banner2{
    background-color: rgb(184, 179, 179);
    border: 1px solid rgb(184, 179, 179);
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.bann2{
    font-size: 88px;
        position: absolute;
    text-align: center;
    margin: 0px 0px;
    bottom: -132px;
}
.double-arrow{
    text-align: center;
    margin-top: 50px;
}
#banner3{
    display: flex;
    border: 1px solid black;
    

}
.ban3{
    padding:10px 250px ;
    text-align: center;
}
#newsletter{
    background-color: rgb(184, 179, 179);
    border: 1px solid rgb(184, 179, 179);
    height: 400px;
    width: 60%;
    margin-top: 70px;
}
#newsletter input[type="text"]{
    padding: 20px;
    margin-left: 20px;
    width: 60%;
}
button{
    color: white;
    background-color: red;
    font-weight: bold;
    font-family:monospace;
    padding: 20px;
    width: 20%;
    font-size: 15px;
}
/* .container{
    display: inline-block;
    border: 5px solid black;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 5px;
}
.grid-item{
    justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
} */
.footer {
    position: relative;
    overflow: hidden;
    margin-top:30px ;
 }
  
  .footer a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .footer a{
      color: grey;
  }

  
  .footer-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .footer-right {
    float: right;
  }
  #circle-pagination > li {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    display: inline-table;
   
  }
 #num{
     font-size: 30px;
     font-weight: bold;
     color: black;

 }
  #news2 > img {
    flex: 0 0 32%;
    height: 120px;
    margin-bottom: 5px;
    background-color: #999;
  }
  
  #news2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
  }
  
  #news-id > p {
    position: absolute;
    right: 470px;
    top: 475%;
    width: 160px;
    height: 30px;
    padding: 7px;
    background-color: #252525;
    font-size: 14px;
    color: #ffffff;
    text-align: center;  }
  .news1{
      width: 60%;
    }
    .mews2{
        width: 40%;
    }